* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(72, 240, 240);
    color: rgb(7, 7, 7);
    padding: 2rem 4rem;

}

.nav-links {
    display: flex;
    gap: 6rem;

}

.nav-links>a {
    text-decoration: none;
    color: rgb(108, 108, 180);
    font-size: large;
}

.hello {
    background-color: ghostwhite;
    min-height: 70vh;
}

.des {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 12ren;
    color: black;
}

.des > img {
    width: 400px;
    height: 400px;
}

.content{
    width: 50%;
}
.content > h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    width: 100%;

}
.name{
    color: rgb(30, 182, 131);
}
.content > p{
    width: 80%;
    margin-bottom: 3rem;
    line-height: 30px;

}

.content > a > button{
    background-color: aqua;
    color: black;
    border-radius: 999px;
    border: 1px;
    cursor: pointer;
    padding: 1rem 4rem;
}
.content > a > button:hover{
    background-color: aquamarine;
    color: blue;
    font-weight: bold;
}